<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033452701767-5h5l7as7cnic5hmc8sdj5f02akso0skp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033452701767-5h5l7as7cnic5hmc8sdj5f02akso0skp</string>
	<key>API_KEY</key>
	<string>AIzaSyBfQzhxFWomxaDDeqVm_RGeEIIgpOpzcYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1033452701767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rungineer.-0170808hack-ios</string>
	<key>PROJECT_ID</key>
	<string>docomo-8c90f</string>
	<key>STORAGE_BUCKET</key>
	<string>docomo-8c90f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033452701767:ios:4e8e473eb6fdcc8e</string>
	<key>DATABASE_URL</key>
	<string>https://docomo-8c90f.firebaseio.com</string>
</dict>
</plist>